<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context">

    <!-- 61p. bean lazy-init attribute를 가지는 경우 클라이언트가 요청하는 시점에 bean이 생성된다.-->
    <!--    <bean id="tv" class="polymorphism.SamsungTV" init-method="initMethod" destroy-method="destroyMethod"-->
    <!--          lazy-init="true"/>-->

    <!--  ========================================================================================================  -->

    <!--  Spring bean의 scope 기본값은 singletone  -->
    <!--    <bean id="singletonTV" class="polymorphism.SamsungTV" scope="singleton"/>-->

    <!--  Bean이 요청될 때마다 새 객체를 만들어 줌  -->
    <!--    <bean id="prototypeTV" class="polymorphism.SamsungTV" scope="prototype"/>-->

    <!--  ========================================================================================================  -->

    <!--  Constructor/Setter injection  -->
    <!--    <bean id="tv" class="polymorphism.SamsungTV">-->
    <!--        &lt;!&ndash; 이하 constructor injection &ndash;&gt;-->
    <!--        &lt;!&ndash;        <constructor-arg ref="sony"/>&ndash;&gt;-->
    <!--        &lt;!&ndash;        <constructor-arg value="2700000"/>&ndash;&gt;-->

    <!--        &lt;!&ndash;    명시적으로 Constructor argument의 인자 순서를 정할 수도 있다.   &ndash;&gt;-->
    <!--        &lt;!&ndash;        <constructor-arg index="0" ref="apple"/>&ndash;&gt;-->
    <!--        &lt;!&ndash;        <constructor-arg index="1" value="2700000"/>&ndash;&gt;-->

    <!--        &lt;!&ndash;    이하 setter injection    &ndash;&gt;-->
    <!--        &lt;!&ndash;        <property name="speaker" ref="apple"/>&ndash;&gt;-->
    <!--        &lt;!&ndash;        <property name="price" value="2700000"/>&ndash;&gt;-->
    <!--    </bean>-->

    <!--  P namespace setter injection  -->
    <!--    <bean id="tv" class="polymorphism.SamsungTV" p:speaker-ref="sony" p:price="2700000"/>-->

    <!--    <bean id="sony" class="polymorphism.SonySpeaker"/>-->
    <!--    <bean id="apple" class="polymorphism.AppleSpeaker"/>-->

    <!--  ========================================================================================================  -->

    <!--  4.4 컬렉션(Collection) 객체 설정  -->
    <!--    <bean id="collectionBean" class="com.springbook.ioc.injection.CollectionBean">-->
    <!--        <property name="addressList">-->
    <!--            <list>-->
    <!--                <value>인천 서구 가좌동</value>-->
    <!--                <value>서울 성북구 정릉동</value>-->
    <!--            </list>-->
    <!--        </property>-->
    <!--        <property name="addressSet">-->
    <!--            <list>-->
    <!--                <value>인천 서구 가좌동</value>-->
    <!--                <value>서울 성북구 정릉동</value>-->
    <!--                <value>서울 성북구 정릉동</value>-->
    <!--            </list>-->
    <!--        </property>-->
    <!--        <property name="addressMap">-->
    <!--            <map>-->
    <!--                <entry>-->
    <!--                    <key>-->
    <!--                        <value>고길동</value>-->
    <!--                    </key>-->
    <!--                    <value>서울시 강남구 역삼동</value>-->
    <!--                </entry>-->
    <!--                <entry>-->
    <!--                    <key>-->
    <!--                        <value>마이콜</value>-->
    <!--                    </key>-->
    <!--                    <value>서울시 강서구 화곡동</value>-->
    <!--                </entry>-->
    <!--            </map>-->
    <!--        </property>-->
    <!--        <property name="addressProperties">-->
    <!--            <props>-->
    <!--                <prop key="고길동">서울시 강남구 역삼동</prop>-->
    <!--                <prop key="마이콜">서울시 강서구 화곡동</prop>-->
    <!--            </props>-->
    <!--        </property>-->
    <!--    </bean>-->

    <!--  ========================================================================================================  -->

    <context:component-scan base-package="polymorphism"/>

</beans>